*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: cadetblue;
    font: normal 15pt Arial;
}
header{
    color: black;
    text-align: center;
    margin-left: 60px;
    margin-top: 50px;
}
section{
    text-align: initial;
    background-color: #bbf3f9;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 50px 0px 00px 400px;
    box-shadow: 5px 5px 10px black;
}
footer{
    color: black;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
    margin-left: 60px;
}
p{
    padding: 10px;
}
/* Imagme */
img{
    width: 400px;
    margin-top: 20px;
    border-radius: 200px;
}
#img{
    margin-top: 30px;
    width: 400px;
    border-radius: 500px;
}